PORT=5000
MONGO_URI=mongodb+srv://<db_username>:<db_password>@cluster0.9soabrh.mongodb.net/gelectronics?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
